body {
	margin: 0;
}

.container {
	background-color: hsl(212, 45%, 89%);
	display: flex;
	align-items: center;
	margin: 0 auto;
	height: calc(100vh - 25px);
	width: 1440px;
}

.content__parent {
	background-color: #fff;
	border-radius: 20px;
	margin: 145px auto;
	padding: 15px;
	height: fit-content;
	width: 320px;
}

.content__image {
	display: flex;
	justify-content: center;
	width: inherit;
}

.content__image img {
	border-radius: 10px;
	width: inherit;
}

.content__text {
	font-family: "Outfit", sans-serif;
	text-align: center;
	padding: 5px 10px 10px 10px;
}

.content__text h2 {
	color: hsl(218, 44%, 22%);
	font-size: 22px;
	font-weight: 700;
}

.content__text p {
	color: hsl(220, 15%, 55%);
	font-size: 15px;
	font-weight: 400;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
  .container {
		width: 375px;
	}
}
